{
  "openapi": "3.0.0",
  "info": {
    "title": "Content Generation Service",
    "description": "AI-powered content generation service",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://content-generation.mcpfactory.org"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      },
      "InsufficientCreditsResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "balance_cents": {
            "type": "number"
          },
          "required_cents": {
            "type": "number"
          }
        },
        "required": [
          "error",
          "balance_cents",
          "required_cents"
        ]
      },
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "service": {
            "type": "string"
          }
        },
        "required": [
          "status",
          "service"
        ]
      },
      "PromptVariable": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Variable name as referenced in the prompt body via {{name}}."
          },
          "description": {
            "type": "string",
            "description": "Free-form description of what the caller should put for this variable. Caller decides the JSON shape — string, array, object, whatever fits the template. Multibrand is the default, so brand-related variables typically receive arrays or objects, not scalars."
          }
        },
        "required": [
          "name",
          "description"
        ]
      },
      "CreatePromptRequest": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Unique prompt identifier, e.g. 'cold-email' or 'welcome-email'"
          },
          "prompt": {
            "type": "string",
            "description": "Prompt template text with {{variable}} placeholders. Must NOT contain company-specific data — only {{variables}}."
          },
          "variables": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PromptVariable"
            },
            "description": "Inputs the template expects. Each entry is { name, description }; the caller decides the JSON shape per name."
          }
        },
        "required": [
          "type",
          "prompt",
          "variables"
        ]
      },
      "VersionPromptRequest": {
        "type": "object",
        "properties": {
          "sourceType": {
            "type": "string",
            "description": "The type of the prompt to create a new version from, e.g. 'cold-email'"
          },
          "prompt": {
            "type": "string",
            "description": "New prompt template text with {{variable}} placeholders. Must NOT contain company-specific data — only {{variables}}."
          },
          "variables": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PromptVariable"
            },
            "description": "Inputs the template expects. Each entry is { name, description }; the caller decides the JSON shape per name."
          }
        },
        "required": [
          "sourceType",
          "prompt",
          "variables"
        ]
      },
      "PromptResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "prompt": {
            "type": "string"
          },
          "variables": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PromptVariable"
            }
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "type",
          "prompt",
          "variables",
          "createdAt",
          "updatedAt"
        ]
      },
      "PromptAssignmentResponse": {
        "type": "object",
        "properties": {
          "featureSlug": {
            "type": "string"
          },
          "promptType": {
            "type": "string",
            "description": "The resolved prompt type rendered for this feature."
          },
          "prompt": {
            "type": "string"
          },
          "variables": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PromptVariable"
            }
          },
          "isDefault": {
            "type": "boolean",
            "description": "true when the feature resolves to the platform default (no override)."
          }
        },
        "required": [
          "featureSlug",
          "promptType",
          "prompt",
          "variables",
          "isDefault"
        ]
      },
      "PutPromptAssignmentRequest": {
        "type": "object",
        "properties": {
          "featureSlug": {
            "type": "string",
            "description": "Feature slug whose prompt is being reassigned."
          },
          "prompt": {
            "type": "string",
            "description": "Edited prompt template text with {{variable}} placeholders. The {{var}} tokens MUST exactly match the currently-resolved source template's declared variable-name set — any drop/rename/addition is rejected (400). Must NOT contain company-specific data — only {{variables}}."
          },
          "variables": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PromptVariable"
            },
            "description": "Inputs the template expects. Each entry is { name, description }; the caller decides the JSON shape per name."
          }
        },
        "required": [
          "featureSlug",
          "prompt",
          "variables"
        ]
      },
      "PutPromptAssignmentResponse": {
        "type": "object",
        "properties": {
          "featureSlug": {
            "type": "string"
          },
          "promptType": {
            "type": "string",
            "description": "The forked prompt type now assigned to this feature."
          },
          "prompt": {
            "type": "string"
          },
          "variables": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PromptVariable"
            }
          }
        },
        "required": [
          "featureSlug",
          "promptType",
          "prompt",
          "variables"
        ]
      },
      "GenerateRequest": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Which stored prompt to use, e.g. 'cold-email' or 'welcome-email'"
          },
          "variables": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Variable values to substitute into the prompt template. Any JSON values allowed — strings, arrays, or objects. Caller decides the shape per variable. Objects and arrays are rendered as readable markdown into the prompt; the LLM reads whatever's provided. Multibrand is the default in this platform, so brand-related variables typically receive arrays or objects, not scalars. Per-template input expectations are published via GET /platform-prompts?type=<type> (.variables: Array<{ name, description }>). When values are string-typed, recognised keys may also populate dedicated dashboard columns: leadFirstName, leadLastName, leadTitle, leadCompanyName, leadCompanyIndustry, organizationDomain, clientCompanyName."
          },
          "model": {
            "type": "string",
            "enum": [
              "haiku",
              "sonnet",
              "opus",
              "flash-lite",
              "flash",
              "flash-pro",
              "pro"
            ],
            "description": "LLM model to generate with (version-free alias). Provider is derived automatically: anthropic → haiku | sonnet | opus; google → flash-lite | flash | flash-pro | pro. Omit to use the default 'pro' (google) — unchanged from before this field existed."
          },
          "brandIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Brand UUIDs associated with this generation. Falls back to parsed x-brand-id header (CSV) if omitted."
          },
          "campaignId": {
            "type": "string"
          },
          "apolloEnrichmentId": {
            "type": "string"
          },
          "leadId": {
            "type": "string",
            "description": "Lead-service correlation ID, unique per campaign"
          },
          "idempotencyKey": {
            "type": "string"
          },
          "workflowSlug": {
            "type": "string"
          },
          "featureSlug": {
            "type": "string",
            "description": "Feature slug for tracking"
          },
          "audienceId": {
            "type": "string",
            "description": "Audience attribution ID. Falls back to x-audience-id header if omitted."
          }
        },
        "required": [
          "type",
          "variables"
        ]
      },
      "GenerateResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "sequence": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "step": {
                  "type": "number"
                },
                "bodyHtml": {
                  "type": "string"
                },
                "bodyText": {
                  "type": "string"
                },
                "daysSinceLastStep": {
                  "type": "number"
                }
              },
              "required": [
                "step",
                "bodyHtml",
                "bodyText",
                "daysSinceLastStep"
              ]
            }
          },
          "tokensInput": {
            "type": "number"
          },
          "tokensOutput": {
            "type": "number"
          }
        },
        "required": [
          "id",
          "subject",
          "sequence",
          "tokensInput",
          "tokensOutput"
        ]
      },
      "GenerateExpertQuotePitchRequest": {
        "type": "object",
        "properties": {
          "variables": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Variable values to substitute into the stored 'expert-quote-pitch' template. ALL of the template's declared variables are REQUIRED and must be non-empty (missing/empty → 400). For the platform template the required set is: `brands` (multibrand — ALWAYS an array of objects; each element MUST include brandName, brandUrl, brandDescription, brandHeadquartersLocation, brandLogoUrl), `expertName`, `expertTitle`, `expertBio`, `expertPhotoUrl`, `expertLinkedIn`, `journalistRequest`, `expertAnswerContext`. Inner JSON shape per variable is caller's choice; the authoritative input list is published via GET /platform-prompts?type=expert-quote-pitch (.variables)."
          },
          "templateType": {
            "type": "string",
            "description": "Explicit prompt type to render, overriding feature assignment + platform default. Resolution order: templateType ▸ feature assignment for featureSlug ▸ platform default 'expert-quote-pitch'."
          },
          "model": {
            "type": "string",
            "enum": [
              "haiku",
              "sonnet",
              "opus",
              "flash-lite",
              "flash",
              "flash-pro",
              "pro"
            ],
            "description": "LLM model to generate with (version-free alias). Provider is derived automatically: anthropic → haiku | sonnet | opus; google → flash-lite | flash | flash-pro | pro. Omit to use the default 'pro' (google) — unchanged from before this field existed."
          },
          "brandIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Brand UUIDs for tracking. Falls back to x-brand-id header."
          },
          "campaignId": {
            "type": "string"
          },
          "workflowSlug": {
            "type": "string"
          },
          "featureSlug": {
            "type": "string"
          },
          "audienceId": {
            "type": "string",
            "description": "Audience attribution ID. Falls back to x-audience-id header if omitted."
          }
        },
        "required": [
          "variables"
        ]
      },
      "GenerateExpertQuotePitchResponse": {
        "type": "object",
        "properties": {
          "pitch": {
            "type": "string",
            "description": "Pitch text, 100-2500 chars"
          },
          "charCount": {
            "type": "integer",
            "description": "Length of pitch in characters"
          },
          "attempts": {
            "type": "integer",
            "description": "Number of generation attempts (1 or 2)"
          },
          "tokensInput": {
            "type": "number"
          },
          "tokensOutput": {
            "type": "number"
          }
        },
        "required": [
          "pitch",
          "charCount",
          "attempts",
          "tokensInput",
          "tokensOutput"
        ]
      },
      "ExpertQuotePitchLengthErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "charCount": {
            "type": "integer"
          },
          "minChars": {
            "type": "integer"
          },
          "maxChars": {
            "type": "integer"
          },
          "attempts": {
            "type": "integer"
          }
        },
        "required": [
          "error",
          "charCount",
          "minChars",
          "maxChars",
          "attempts"
        ]
      },
      "EmailGeneration": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "orgId": {
            "type": "string",
            "format": "uuid"
          },
          "runId": {
            "type": "string"
          },
          "apolloEnrichmentId": {
            "type": "string",
            "nullable": true
          },
          "promptType": {
            "type": "string",
            "nullable": true
          },
          "leadFirstName": {
            "type": "string",
            "nullable": true
          },
          "leadLastName": {
            "type": "string",
            "nullable": true
          },
          "leadCompany": {
            "type": "string",
            "nullable": true
          },
          "leadTitle": {
            "type": "string",
            "nullable": true
          },
          "leadIndustry": {
            "type": "string",
            "nullable": true
          },
          "leadOrganizationDomain": {
            "type": "string",
            "nullable": true
          },
          "clientCompanyName": {
            "type": "string",
            "nullable": true
          },
          "clientCompanyDescription": {
            "type": "string",
            "nullable": true
          },
          "variablesRaw": {
            "nullable": true
          },
          "brandIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Brand UUIDs associated with this generation (multi-brand support)"
          },
          "campaignId": {
            "type": "string"
          },
          "generationRunId": {
            "type": "string",
            "nullable": true
          },
          "subject": {
            "type": "string",
            "nullable": true
          },
          "bodyHtml": {
            "type": "string",
            "nullable": true
          },
          "bodyText": {
            "type": "string",
            "nullable": true
          },
          "sequence": {
            "nullable": true
          },
          "model": {
            "type": "string"
          },
          "tokensInput": {
            "type": "number",
            "nullable": true
          },
          "tokensOutput": {
            "type": "number",
            "nullable": true
          },
          "promptRaw": {
            "type": "string",
            "nullable": true
          },
          "responseRaw": {
            "nullable": true
          },
          "workflowSlug": {
            "type": "string",
            "nullable": true
          },
          "featureSlug": {
            "type": "string",
            "nullable": true
          },
          "leadId": {
            "type": "string",
            "nullable": true
          },
          "idempotencyKey": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "orgId",
          "runId",
          "apolloEnrichmentId",
          "promptType",
          "leadFirstName",
          "leadLastName",
          "leadCompany",
          "leadTitle",
          "leadIndustry",
          "leadOrganizationDomain",
          "clientCompanyName",
          "clientCompanyDescription",
          "brandIds",
          "campaignId",
          "generationRunId",
          "subject",
          "bodyHtml",
          "bodyText",
          "model",
          "tokensInput",
          "tokensOutput",
          "promptRaw",
          "workflowSlug",
          "featureSlug",
          "leadId",
          "idempotencyKey",
          "createdAt"
        ]
      },
      "GenerationsListResponse": {
        "type": "object",
        "properties": {
          "generations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EmailGeneration"
            }
          }
        },
        "required": [
          "generations"
        ]
      },
      "ExampleEmail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "subject": {
            "type": "string",
            "nullable": true
          },
          "bodyHtml": {
            "type": "string",
            "nullable": true
          },
          "bodyText": {
            "type": "string",
            "nullable": true
          },
          "sequence": {
            "nullable": true,
            "description": "Per-step email sequence array (same shape as GET /generations)."
          },
          "leadFirstName": {
            "type": "string",
            "nullable": true
          },
          "leadLastName": {
            "type": "string",
            "nullable": true
          },
          "leadCompany": {
            "type": "string",
            "nullable": true
          },
          "leadTitle": {
            "type": "string",
            "nullable": true
          },
          "leadIndustry": {
            "type": "string",
            "nullable": true
          },
          "clientCompanyName": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string"
          },
          "scope": {
            "type": "string",
            "enum": [
              "brand",
              "org",
              "global"
            ],
            "description": "Cascade tier this example came from, relative to the caller's brandId/orgId."
          },
          "brandName": {
            "type": "string",
            "nullable": true,
            "description": "Display name of the SOURCE brand (org/global tiers); null for own-brand scope or when unavailable."
          }
        },
        "required": [
          "id",
          "subject",
          "bodyHtml",
          "bodyText",
          "leadFirstName",
          "leadLastName",
          "leadCompany",
          "leadTitle",
          "leadIndustry",
          "clientCompanyName",
          "createdAt",
          "scope",
          "brandName"
        ]
      },
      "GenerationsExamplesResponse": {
        "type": "object",
        "properties": {
          "examples": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExampleEmail"
            }
          }
        },
        "required": [
          "examples"
        ]
      },
      "GenerationSingleResponse": {
        "type": "object",
        "properties": {
          "generation": {
            "$ref": "#/components/schemas/EmailGeneration"
          }
        },
        "required": [
          "generation"
        ]
      },
      "StatsQuery": {
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string"
          },
          "brandId": {
            "type": "string"
          },
          "orgId": {
            "type": "string"
          },
          "runIds": {
            "type": "string",
            "description": "Comma-separated list of run IDs"
          },
          "workflowSlug": {
            "type": "string",
            "description": "Filter by exact workflow slug"
          },
          "featureSlug": {
            "type": "string",
            "description": "Filter by exact feature slug"
          },
          "workflowDynastySlug": {
            "type": "string",
            "description": "Filter by workflow dynasty slug (resolved to all versioned slugs)"
          },
          "featureDynastySlug": {
            "type": "string",
            "description": "Filter by feature dynasty slug (resolved to all versioned slugs)"
          },
          "groupBy": {
            "type": "string",
            "enum": [
              "campaignId",
              "model",
              "workflowSlug",
              "featureSlug",
              "workflowDynastySlug",
              "featureDynastySlug"
            ]
          }
        }
      },
      "StatsGetFlatResponse": {
        "type": "object",
        "properties": {
          "stats": {
            "type": "object",
            "properties": {
              "emailsGenerated": {
                "type": "number"
              }
            },
            "required": [
              "emailsGenerated"
            ]
          }
        },
        "required": [
          "stats"
        ]
      },
      "StatsGetGroupedResponse": {
        "type": "object",
        "properties": {
          "groups": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string",
                  "nullable": true
                },
                "stats": {
                  "type": "object",
                  "properties": {
                    "emailsGenerated": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "emailsGenerated"
                  ]
                }
              },
              "required": [
                "key",
                "stats"
              ]
            }
          }
        },
        "required": [
          "groups"
        ]
      },
      "ComposeRequest": {
        "type": "object",
        "properties": {
          "videoUrl": {
            "type": "string",
            "format": "uri",
            "description": "Public URL of the webcam video (e.g. Vercel Blob)"
          },
          "name": {
            "type": "string",
            "description": "First name of the person (displayed on the quote image)"
          },
          "age": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Age of the person"
          },
          "theme": {
            "type": "string",
            "description": "Theme of the quote (e.g. 'Loss of Desire')"
          },
          "text": {
            "type": "string",
            "description": "Quote text to display"
          },
          "outputBlobToken": {
            "type": "string",
            "description": "Vercel Blob token for uploading the composed video"
          },
          "layout": {
            "type": "string",
            "enum": [
              "quote-top",
              "webcam-top"
            ],
            "default": "quote-top",
            "description": "Layout: 'quote-top' (default) = quote 40% top + webcam 60% bottom; 'webcam-top' = webcam 50% top + quote 50% bottom"
          }
        },
        "required": [
          "videoUrl",
          "name",
          "age",
          "theme",
          "text",
          "outputBlobToken"
        ]
      },
      "ComposeResponse": {
        "type": "object",
        "properties": {
          "composedVideoUrl": {
            "type": "string",
            "format": "uri",
            "description": "Public URL of the composed MP4 video"
          }
        },
        "required": [
          "composedVideoUrl"
        ]
      },
      "StatsRequest": {
        "type": "object",
        "properties": {
          "runIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "brandId": {
            "type": "string"
          },
          "campaignId": {
            "type": "string"
          }
        }
      },
      "StatsResponse": {
        "type": "object",
        "properties": {
          "stats": {
            "type": "object",
            "properties": {
              "emailsGenerated": {
                "type": "number"
              }
            },
            "required": [
              "emailsGenerated"
            ]
          }
        },
        "required": [
          "stats"
        ]
      },
      "StatsByModelRequest": {
        "type": "object",
        "properties": {
          "runIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "orgId": {
            "type": "string"
          },
          "brandId": {
            "type": "string"
          },
          "campaignId": {
            "type": "string"
          }
        }
      },
      "StatsByModelResponse": {
        "type": "object",
        "properties": {
          "stats": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "model": {
                  "type": "string"
                },
                "count": {
                  "type": "number"
                },
                "runIds": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "model",
                "count",
                "runIds"
              ]
            }
          }
        },
        "required": [
          "stats"
        ]
      },
      "SubmagicProcessRequest": {
        "type": "object",
        "properties": {
          "composedVideoUrl": {
            "type": "string",
            "format": "uri",
            "description": "Public URL of the composed video to process"
          },
          "title": {
            "type": "string",
            "description": "Project title for Submagic"
          },
          "templateName": {
            "type": "string",
            "description": "Submagic template name (e.g. 'Hormozi 2')"
          },
          "language": {
            "type": "string",
            "description": "Language code (e.g. 'en')"
          },
          "magicZooms": {
            "type": "boolean",
            "description": "Enable magic zooms"
          },
          "magicBrolls": {
            "type": "boolean",
            "description": "Enable magic B-rolls"
          },
          "magicBrollsPercentage": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100,
            "description": "B-roll percentage (0-100)"
          },
          "removeBadTakes": {
            "type": "boolean",
            "description": "Remove bad takes"
          },
          "removeSilencePace": {
            "type": "string",
            "description": "Silence removal pace (e.g. 'fast')"
          },
          "cleanAudio": {
            "type": "boolean",
            "description": "Enable audio cleaning"
          },
          "exportWidth": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Export width in pixels"
          },
          "exportHeight": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Export height in pixels"
          },
          "exportFps": {
            "type": "integer",
            "minimum": 0,
            "exclusiveMinimum": true,
            "description": "Export frames per second"
          }
        },
        "required": [
          "composedVideoUrl",
          "title",
          "templateName",
          "language",
          "magicZooms",
          "magicBrolls",
          "magicBrollsPercentage",
          "removeBadTakes",
          "removeSilencePace",
          "cleanAudio",
          "exportWidth",
          "exportHeight",
          "exportFps"
        ]
      },
      "SubmagicProcessResponse": {
        "type": "object",
        "properties": {
          "projectId": {
            "type": "string",
            "description": "Submagic project ID"
          },
          "videoUrl": {
            "type": "string",
            "format": "uri",
            "description": "Final processed video URL"
          },
          "previewUrl": {
            "type": "string",
            "format": "uri",
            "description": "Submagic preview URL"
          }
        },
        "required": [
          "projectId",
          "videoUrl",
          "previewUrl"
        ]
      },
      "SubmagicErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          }
        },
        "required": [
          "error",
          "reason"
        ]
      },
      "TransferBrandRequest": {
        "type": "object",
        "properties": {
          "sourceBrandId": {
            "type": "string",
            "format": "uuid",
            "description": "The brand UUID to transfer from the source org"
          },
          "sourceOrgId": {
            "type": "string",
            "format": "uuid",
            "description": "Current owning org UUID"
          },
          "targetOrgId": {
            "type": "string",
            "format": "uuid",
            "description": "Destination org UUID"
          },
          "targetBrandId": {
            "type": "string",
            "format": "uuid",
            "description": "Brand UUID in the target org to rewrite to (when target org already has this brand)"
          }
        },
        "required": [
          "sourceBrandId",
          "sourceOrgId",
          "targetOrgId"
        ]
      },
      "TransferBrandResponse": {
        "type": "object",
        "properties": {
          "updatedTables": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "tableName": {
                  "type": "string"
                },
                "count": {
                  "type": "number"
                }
              },
              "required": [
                "tableName",
                "count"
              ]
            }
          }
        },
        "required": [
          "updatedTables"
        ]
      },
      "OrgId": {
        "type": "string"
      },
      "UserId": {
        "type": "string"
      },
      "RunId": {
        "type": "string"
      },
      "CampaignId": {
        "type": "string"
      },
      "BrandId": {
        "type": "string"
      },
      "WorkflowSlug": {
        "type": "string"
      },
      "FeatureSlug": {
        "type": "string"
      }
    },
    "parameters": {
      "OrgId": {
        "schema": {
          "$ref": "#/components/schemas/OrgId"
        },
        "required": true,
        "name": "X-Org-Id",
        "in": "header"
      },
      "UserId": {
        "schema": {
          "$ref": "#/components/schemas/UserId"
        },
        "required": true,
        "name": "X-User-Id",
        "in": "header"
      },
      "RunId": {
        "schema": {
          "$ref": "#/components/schemas/RunId"
        },
        "required": true,
        "name": "X-Run-Id",
        "in": "header"
      },
      "CampaignId": {
        "schema": {
          "$ref": "#/components/schemas/CampaignId"
        },
        "required": false,
        "name": "X-Campaign-Id",
        "in": "header",
        "description": "Campaign ID injected by workflow-service"
      },
      "BrandId": {
        "schema": {
          "$ref": "#/components/schemas/BrandId"
        },
        "required": false,
        "name": "X-Brand-Id",
        "in": "header",
        "description": "Comma-separated list of brand UUIDs (e.g. 'uuid1,uuid2,uuid3'). Single UUID for single-brand campaigns."
      },
      "WorkflowSlug": {
        "schema": {
          "$ref": "#/components/schemas/WorkflowSlug"
        },
        "required": false,
        "name": "X-Workflow-Slug",
        "in": "header",
        "description": "Workflow slug injected by workflow-service"
      },
      "FeatureSlug": {
        "schema": {
          "$ref": "#/components/schemas/FeatureSlug"
        },
        "required": false,
        "name": "X-Feature-Slug",
        "in": "header",
        "description": "Feature slug for tracking, propagated through the service chain"
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key"
      }
    }
  },
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Health check",
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/prompts": {
      "get": {
        "tags": [
          "Prompts"
        ],
        "summary": "Get a prompt template by type",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Prompt type to look up"
            },
            "required": true,
            "description": "Prompt type to look up",
            "name": "type",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-run-id",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Prompt found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromptResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing type query param",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Prompt not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Prompts"
        ],
        "summary": "Create a prompt template (idempotent — no-op if type already exists)",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-run-id",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePromptRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Prompt already exists (no-op)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromptResponse"
                }
              }
            }
          },
          "201": {
            "description": "Prompt created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromptResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Prompts"
        ],
        "summary": "Create or version a prompt (auto-increments type name if sourceType exists)",
        "description": "If the prompt and variables are identical to the existing sourceType, returns the existing prompt as-is (200). If sourceType already exists but content differs, creates a new prompt with an auto-incremented type name (201). E.g. sourceType 'cold-email' → creates 'cold-email-v2'. sourceType 'cold-email-v5' → creates 'cold-email-v6'. If sourceType does not exist, creates the prompt with that type directly (201). The source prompt is never modified.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-run-id",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VersionPromptRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Prompt unchanged — returned existing version as-is",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromptResponse"
                }
              }
            }
          },
          "201": {
            "description": "New versioned prompt created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromptResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/platform-prompts": {
      "get": {
        "tags": [
          "Prompts"
        ],
        "summary": "Get a prompt template by type (no identity headers required)",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Prompt type to look up"
            },
            "required": true,
            "description": "Prompt type to look up",
            "name": "type",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Prompt found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromptResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing type query param",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Prompt not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Prompts"
        ],
        "summary": "Create a prompt template (idempotent — no-op if type already exists, no identity headers required)",
        "description": "Used at cold start to register prompt templates. Same pattern as key-service POST /platform-keys.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePromptRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Prompt already exists (no-op)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromptResponse"
                }
              }
            }
          },
          "201": {
            "description": "Prompt created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromptResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/prompt-assignments": {
      "get": {
        "tags": [
          "Prompts"
        ],
        "summary": "Get the currently-resolved prompt for a feature",
        "description": "Resolves the prompt rendered when generating for this feature: feature assignment ▸ platform default. isDefault:true when no override exists (resolves to the platform default).",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Feature slug to resolve the prompt for"
            },
            "required": true,
            "description": "Feature slug to resolve the prompt for",
            "name": "featureSlug",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "x-run-id",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Resolved prompt for the feature",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromptAssignmentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing featureSlug query param",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resolved prompt type not registered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Prompts"
        ],
        "summary": "Fork the resolved prompt and reassign the feature to the fork",
        "description": "Forks the currently-resolved prompt type for the feature (auto-incremented '<type>-vN'), then assigns the feature to the new fork. The source template is never modified. Returns 400 (naming the offending variable) if the {{var}} tokens in the submitted prompt do not exactly match the source template's declared variable-name set — on 400 nothing is forked or assigned.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "x-run-id",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutPromptAssignmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Feature reassigned to the forked prompt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PutPromptAssignmentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request, or submitted variables do not match the source template",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Resolved source prompt type not registered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/generate": {
      "post": {
        "tags": [
          "Content Generation"
        ],
        "summary": "Generate content using a stored prompt template with variable substitution",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-run-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Comma-separated brand UUIDs (e.g. 'uuid1,uuid2')"
            },
            "required": false,
            "description": "Comma-separated brand UUIDs (e.g. 'uuid1,uuid2')",
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "x-workflow-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "x-feature-slug",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits (platform costSource only)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsufficientCreditsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Prompt not found for this type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/generate-expert-quote-pitch": {
      "post": {
        "tags": [
          "Content Generation"
        ],
        "summary": "Generate a journalist-quote pitch (Featured.com 100-2500 char constraint)",
        "description": "Renders the stored 'expert-quote-pitch' prompt with brand + request inputs, sends to chat-service for free-text generation, and enforces a 100-2500 character output range. If the first attempt is out of range, retries once with a corrective nudge. Returns 400 ExpertQuotePitchLengthErrorResponse if both attempts are out of range — no truncation that breaks meaning.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-run-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "x-workflow-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "x-feature-slug",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateExpertQuotePitchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated pitch within the configured char range",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateExpertQuotePitchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or pitch length out of range after retry",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpertQuotePitchLengthErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Insufficient credits",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsufficientCreditsResponse"
                }
              }
            }
          },
          "404": {
            "description": "expert-quote-pitch template not registered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/generations": {
      "get": {
        "tags": [
          "Content Generation"
        ],
        "summary": "List generations with filters",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "runId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "campaignId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "brandId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-run-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Comma-separated brand UUIDs (e.g. 'uuid1,uuid2')"
            },
            "required": false,
            "description": "Comma-separated brand UUIDs (e.g. 'uuid1,uuid2')",
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "x-workflow-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "x-feature-slug",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "List of generations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerationsListResponse"
                }
              }
            }
          },
          "400": {
            "description": "At least one filter required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/generations/examples": {
      "get": {
        "tags": [
          "Content Generation"
        ],
        "summary": "Cascade example emails for a workflow (brand → org → global)",
        "description": "Returns up to `limit` content-bearing example emails for a workflow, with a fallback cascade so it (almost) always returns `limit`: (1) the caller's current brand, then (2) the caller's other brands, then (3) any org (examples are public). Each example is tagged with `scope` (which tier it came from) and `brandName` (the source brand's label for org/global tiers; null for own-brand). Brand-tier rows come first, newest-first within each tier. Content-less / failed generations are skipped. Default limit 3.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Workflow slug to fetch examples for"
            },
            "required": true,
            "description": "Workflow slug to fetch examples for",
            "name": "workflowSlug",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Caller's current brand UUID — anchors the brand/org cascade tiers"
            },
            "required": true,
            "description": "Caller's current brand UUID — anchors the brand/org cascade tiers",
            "name": "brandId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Max examples to return (default 3)"
            },
            "required": false,
            "description": "Max examples to return (default 3)",
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "x-run-id",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Up to `limit` example emails, brand-tier first",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerationsExamplesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing workflowSlug or brandId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/generations/by-enrichment/{apolloEnrichmentId}": {
      "get": {
        "tags": [
          "Content Generation"
        ],
        "summary": "Get generation by enrichment ID",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "apolloEnrichmentId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-run-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Comma-separated brand UUIDs (e.g. 'uuid1,uuid2')"
            },
            "required": false,
            "description": "Comma-separated brand UUIDs (e.g. 'uuid1,uuid2')",
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "x-workflow-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "x-feature-slug",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Content generation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerationSingleResponse"
                }
              }
            }
          },
          "404": {
            "description": "Generation not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/generations/by-lead/{leadId}": {
      "get": {
        "tags": [
          "Content Generation"
        ],
        "summary": "Get generation by lead-service correlation ID",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "leadId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-run-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Comma-separated brand UUIDs (e.g. 'uuid1,uuid2')"
            },
            "required": false,
            "description": "Comma-separated brand UUIDs (e.g. 'uuid1,uuid2')",
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "x-workflow-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "x-feature-slug",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Content generation for this lead",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerationSingleResponse"
                }
              }
            }
          },
          "404": {
            "description": "No generation found for this leadId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/stats": {
      "get": {
        "tags": [
          "Stats"
        ],
        "summary": "Get aggregated stats with optional grouping",
        "description": "Filters: campaignId, brandId, orgId, runIds (comma-separated), workflowSlug, featureSlug, workflowDynastySlug, featureDynastySlug. Dynasty slug filters are resolved to versioned slug lists via workflow-service / features-service. Without groupBy returns { stats: { emailsGenerated } }. With groupBy returns { groups: [{ key, stats: { emailsGenerated } }] }. groupBy=workflowDynastySlug/featureDynastySlug aggregates versioned slugs into their dynasty.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "campaignId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "brandId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "orgId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Comma-separated list of run IDs"
            },
            "required": false,
            "description": "Comma-separated list of run IDs",
            "name": "runIds",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filter by exact workflow slug"
            },
            "required": false,
            "description": "Filter by exact workflow slug",
            "name": "workflowSlug",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filter by exact feature slug"
            },
            "required": false,
            "description": "Filter by exact feature slug",
            "name": "featureSlug",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filter by workflow dynasty slug (resolved to all versioned slugs)"
            },
            "required": false,
            "description": "Filter by workflow dynasty slug (resolved to all versioned slugs)",
            "name": "workflowDynastySlug",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filter by feature dynasty slug (resolved to all versioned slugs)"
            },
            "required": false,
            "description": "Filter by feature dynasty slug (resolved to all versioned slugs)",
            "name": "featureDynastySlug",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "campaignId",
                "model",
                "workflowSlug",
                "featureSlug",
                "workflowDynastySlug",
                "featureDynastySlug"
              ]
            },
            "required": false,
            "name": "groupBy",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-run-id",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Stats (flat or grouped depending on groupBy param)",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/StatsGetFlatResponse"
                    },
                    {
                      "$ref": "#/components/schemas/StatsGetGroupedResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Missing required filter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Stats"
        ],
        "summary": "Get aggregated stats by filters",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-run-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Comma-separated brand UUIDs (e.g. 'uuid1,uuid2')"
            },
            "required": false,
            "description": "Comma-separated brand UUIDs (e.g. 'uuid1,uuid2')",
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "x-workflow-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "x-feature-slug",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StatsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Aggregated stats",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/compose": {
      "post": {
        "tags": [
          "Video Composition"
        ],
        "summary": "Compose a split-screen vertical video (9:16) from a quote and webcam recording",
        "description": "Downloads the source webcam video, generates a styled quote image, and uses FFmpeg to compose a split-screen video at 1080x1920 30fps. Layout 'quote-top' (default): quote top 40% + webcam bottom 60%. Layout 'webcam-top': webcam top 50% + quote bottom 50%. The result is uploaded to Vercel Blob.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ComposeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Video composed and uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComposeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or video download failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Composition failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/stats/by-model": {
      "post": {
        "tags": [
          "Stats"
        ],
        "summary": "Get content generation stats grouped by model (internal)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StatsByModelRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stats grouped by model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsByModelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/submagic/process": {
      "post": {
        "tags": [
          "Video Processing"
        ],
        "summary": "Process a video through Submagic (captions, effects, export)",
        "description": "Creates a Submagic project, polls until processing completes, triggers export, and polls until the final video URL is available. This is a synchronous endpoint that can take 5-8 minutes to complete.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-run-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string",
              "description": "Comma-separated brand UUIDs (e.g. 'uuid1,uuid2')"
            },
            "required": false,
            "description": "Comma-separated brand UUIDs (e.g. 'uuid1,uuid2')",
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "x-workflow-slug",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "x-feature-slug",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmagicProcessRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Video processed and exported successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmagicProcessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or missing identity headers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "Submagic processing failed or key resolution failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmagicErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/internal/transfer-brand": {
      "post": {
        "tags": [
          "Internal"
        ],
        "summary": "Transfer solo-brand rows from one org to another",
        "description": "Finds all rows where org_id = sourceOrgId and brand_ids contains exactly one element equal to sourceBrandId, then updates org_id to targetOrgId. When targetBrandId is provided, also rewrites brand_ids to the target brand. Skips co-branding rows (multiple brand IDs). Idempotent.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferBrandRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transfer complete — returns count of updated rows per table",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferBrandResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}