{
  "openapi": "3.0.0",
  "info": {
    "title": "Content Generation Service",
    "description": "AI-powered content generation service",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://content-generation.mcpfactory.org"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        },
        "required": [
          "error"
        ]
      },
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "service": {
            "type": "string"
          }
        },
        "required": [
          "status",
          "service"
        ]
      },
      "CreatePromptRequest": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Unique prompt identifier, e.g. 'cold-email' or 'welcome-email'"
          },
          "prompt": {
            "type": "string",
            "description": "Prompt template text with {{variable}} placeholders. Must NOT contain company-specific data — only {{variables}}."
          },
          "variables": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of expected variable names used in the prompt"
          }
        },
        "required": [
          "type",
          "prompt",
          "variables"
        ]
      },
      "VersionPromptRequest": {
        "type": "object",
        "properties": {
          "sourceType": {
            "type": "string",
            "description": "The type of the prompt to create a new version from, e.g. 'cold-email'"
          },
          "prompt": {
            "type": "string",
            "description": "New prompt template text with {{variable}} placeholders. Must NOT contain company-specific data — only {{variables}}."
          },
          "variables": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of expected variable names used in the prompt"
          }
        },
        "required": [
          "sourceType",
          "prompt",
          "variables"
        ]
      },
      "PromptResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "prompt": {
            "type": "string"
          },
          "variables": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "type",
          "prompt",
          "variables",
          "createdAt",
          "updatedAt"
        ]
      },
      "GenerateRequest": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Which stored prompt to use, e.g. 'cold-email' or 'welcome-email'"
          },
          "variables": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Variable values to substitute into the prompt template. Non-string values (arrays, objects) are coerced to strings. Recognised keys (used for dedicated DB columns and dashboard display): leadFirstName, leadLastName, leadTitle, leadCompanyName, leadCompanyIndustry, clientCompanyName. Keys must be flat — e.g. send { leadFirstName: \"Alice\" }, NOT { lead: { data: { firstName: \"Alice\" } } }."
          },
          "brandId": {
            "type": "string"
          },
          "campaignId": {
            "type": "string"
          },
          "apolloEnrichmentId": {
            "type": "string"
          },
          "leadId": {
            "type": "string",
            "description": "Lead-service correlation ID, unique per campaign"
          },
          "idempotencyKey": {
            "type": "string"
          },
          "workflowName": {
            "type": "string"
          },
          "includeAiDisclaimer": {
            "type": "boolean",
            "default": false,
            "description": "When true, appends a small AI-generated disclaimer to the email body"
          }
        },
        "required": [
          "type",
          "variables"
        ]
      },
      "GenerateResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "sequence": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "step": {
                  "type": "number"
                },
                "bodyHtml": {
                  "type": "string"
                },
                "bodyText": {
                  "type": "string"
                },
                "daysSinceLastStep": {
                  "type": "number"
                }
              },
              "required": [
                "step",
                "bodyHtml",
                "bodyText",
                "daysSinceLastStep"
              ]
            }
          },
          "tokensInput": {
            "type": "number"
          },
          "tokensOutput": {
            "type": "number"
          }
        },
        "required": [
          "id",
          "subject",
          "sequence",
          "tokensInput",
          "tokensOutput"
        ]
      },
      "EmailGeneration": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "orgId": {
            "type": "string",
            "format": "uuid"
          },
          "runId": {
            "type": "string"
          },
          "apolloEnrichmentId": {
            "type": "string",
            "nullable": true
          },
          "promptType": {
            "type": "string",
            "nullable": true
          },
          "leadFirstName": {
            "type": "string",
            "nullable": true
          },
          "leadLastName": {
            "type": "string",
            "nullable": true
          },
          "leadCompany": {
            "type": "string",
            "nullable": true
          },
          "leadTitle": {
            "type": "string",
            "nullable": true
          },
          "leadIndustry": {
            "type": "string",
            "nullable": true
          },
          "clientCompanyName": {
            "type": "string",
            "nullable": true
          },
          "clientCompanyDescription": {
            "type": "string",
            "nullable": true
          },
          "variablesRaw": {
            "nullable": true
          },
          "brandId": {
            "type": "string"
          },
          "campaignId": {
            "type": "string"
          },
          "generationRunId": {
            "type": "string",
            "nullable": true
          },
          "subject": {
            "type": "string",
            "nullable": true
          },
          "bodyHtml": {
            "type": "string",
            "nullable": true
          },
          "bodyText": {
            "type": "string",
            "nullable": true
          },
          "sequence": {
            "nullable": true
          },
          "model": {
            "type": "string"
          },
          "tokensInput": {
            "type": "number",
            "nullable": true
          },
          "tokensOutput": {
            "type": "number",
            "nullable": true
          },
          "promptRaw": {
            "type": "string",
            "nullable": true
          },
          "responseRaw": {
            "nullable": true
          },
          "workflowName": {
            "type": "string",
            "nullable": true
          },
          "leadId": {
            "type": "string",
            "nullable": true
          },
          "idempotencyKey": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "orgId",
          "runId",
          "apolloEnrichmentId",
          "promptType",
          "leadFirstName",
          "leadLastName",
          "leadCompany",
          "leadTitle",
          "leadIndustry",
          "clientCompanyName",
          "clientCompanyDescription",
          "brandId",
          "campaignId",
          "generationRunId",
          "subject",
          "bodyHtml",
          "bodyText",
          "model",
          "tokensInput",
          "tokensOutput",
          "promptRaw",
          "workflowName",
          "leadId",
          "idempotencyKey",
          "createdAt"
        ]
      },
      "GenerationsListResponse": {
        "type": "object",
        "properties": {
          "generations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EmailGeneration"
            }
          }
        },
        "required": [
          "generations"
        ]
      },
      "GenerationSingleResponse": {
        "type": "object",
        "properties": {
          "generation": {
            "$ref": "#/components/schemas/EmailGeneration"
          }
        },
        "required": [
          "generation"
        ]
      },
      "StatsQuery": {
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string"
          },
          "brandId": {
            "type": "string"
          },
          "orgId": {
            "type": "string"
          },
          "runIds": {
            "type": "string",
            "description": "Comma-separated list of run IDs"
          },
          "groupBy": {
            "type": "string",
            "enum": [
              "campaignId",
              "model"
            ]
          }
        }
      },
      "StatsGetFlatResponse": {
        "type": "object",
        "properties": {
          "stats": {
            "type": "object",
            "properties": {
              "emailsGenerated": {
                "type": "number"
              }
            },
            "required": [
              "emailsGenerated"
            ]
          }
        },
        "required": [
          "stats"
        ]
      },
      "StatsGetGroupedResponse": {
        "type": "object",
        "properties": {
          "groups": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string",
                  "nullable": true
                },
                "stats": {
                  "type": "object",
                  "properties": {
                    "emailsGenerated": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "emailsGenerated"
                  ]
                }
              },
              "required": [
                "key",
                "stats"
              ]
            }
          }
        },
        "required": [
          "groups"
        ]
      },
      "StatsRequest": {
        "type": "object",
        "properties": {
          "runIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "brandId": {
            "type": "string"
          },
          "campaignId": {
            "type": "string"
          }
        }
      },
      "StatsResponse": {
        "type": "object",
        "properties": {
          "stats": {
            "type": "object",
            "properties": {
              "emailsGenerated": {
                "type": "number"
              }
            },
            "required": [
              "emailsGenerated"
            ]
          }
        },
        "required": [
          "stats"
        ]
      },
      "StatsByModelRequest": {
        "type": "object",
        "properties": {
          "runIds": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "orgId": {
            "type": "string"
          },
          "brandId": {
            "type": "string"
          },
          "campaignId": {
            "type": "string"
          }
        }
      },
      "StatsByModelResponse": {
        "type": "object",
        "properties": {
          "stats": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "model": {
                  "type": "string"
                },
                "count": {
                  "type": "number"
                },
                "runIds": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "model",
                "count",
                "runIds"
              ]
            }
          }
        },
        "required": [
          "stats"
        ]
      },
      "OrgId": {
        "type": "string"
      },
      "UserId": {
        "type": "string"
      },
      "RunId": {
        "type": "string"
      },
      "CampaignId": {
        "type": "string"
      },
      "BrandId": {
        "type": "string"
      },
      "WorkflowName": {
        "type": "string"
      }
    },
    "parameters": {
      "OrgId": {
        "schema": {
          "$ref": "#/components/schemas/OrgId"
        },
        "required": true,
        "name": "X-Org-Id",
        "in": "header"
      },
      "UserId": {
        "schema": {
          "$ref": "#/components/schemas/UserId"
        },
        "required": true,
        "name": "X-User-Id",
        "in": "header"
      },
      "RunId": {
        "schema": {
          "$ref": "#/components/schemas/RunId"
        },
        "required": true,
        "name": "X-Run-Id",
        "in": "header"
      },
      "CampaignId": {
        "schema": {
          "$ref": "#/components/schemas/CampaignId"
        },
        "required": false,
        "name": "X-Campaign-Id",
        "in": "header",
        "description": "Campaign ID injected by workflow-service"
      },
      "BrandId": {
        "schema": {
          "$ref": "#/components/schemas/BrandId"
        },
        "required": false,
        "name": "X-Brand-Id",
        "in": "header",
        "description": "Brand ID injected by workflow-service"
      },
      "WorkflowName": {
        "schema": {
          "$ref": "#/components/schemas/WorkflowName"
        },
        "required": false,
        "name": "X-Workflow-Name",
        "in": "header",
        "description": "Workflow name injected by workflow-service"
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Api-Key"
      }
    }
  },
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Health check",
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/prompts": {
      "get": {
        "tags": [
          "Prompts"
        ],
        "summary": "Get a prompt template by type",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Prompt type to look up"
            },
            "required": true,
            "description": "Prompt type to look up",
            "name": "type",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-run-id",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Prompt found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromptResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing type query param",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Prompt not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Prompts"
        ],
        "summary": "Create a prompt template (idempotent — no-op if type already exists)",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-run-id",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePromptRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Prompt already exists (no-op)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromptResponse"
                }
              }
            }
          },
          "201": {
            "description": "Prompt created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromptResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Prompts"
        ],
        "summary": "Create or version a prompt (auto-increments type name if sourceType exists)",
        "description": "If the prompt and variables are identical to the existing sourceType, returns the existing prompt as-is (200). If sourceType already exists but content differs, creates a new prompt with an auto-incremented type name (201). E.g. sourceType 'cold-email' → creates 'cold-email-v2'. sourceType 'cold-email-v5' → creates 'cold-email-v6'. If sourceType does not exist, creates the prompt with that type directly (201). The source prompt is never modified.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-run-id",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VersionPromptRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Prompt unchanged — returned existing version as-is",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromptResponse"
                }
              }
            }
          },
          "201": {
            "description": "New versioned prompt created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromptResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/platform-prompts": {
      "get": {
        "tags": [
          "Prompts"
        ],
        "summary": "Get a prompt template by type (no identity headers required)",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Prompt type to look up"
            },
            "required": true,
            "description": "Prompt type to look up",
            "name": "type",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Prompt found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromptResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing type query param",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Prompt not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Prompts"
        ],
        "summary": "Create a prompt template (idempotent — no-op if type already exists, no identity headers required)",
        "description": "Used at cold start to register prompt templates. Same pattern as key-service POST /platform-keys.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePromptRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Prompt already exists (no-op)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromptResponse"
                }
              }
            }
          },
          "201": {
            "description": "Prompt created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromptResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/generate": {
      "post": {
        "tags": [
          "Content Generation"
        ],
        "summary": "Generate content using a stored prompt template with variable substitution",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-run-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "x-workflow-name",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated content",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Prompt not found for this type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/generations": {
      "get": {
        "tags": [
          "Content Generation"
        ],
        "summary": "List generations with filters",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "runId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "campaignId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "brandId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-run-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "x-workflow-name",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "List of generations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerationsListResponse"
                }
              }
            }
          },
          "400": {
            "description": "At least one filter required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/generations/by-enrichment/{apolloEnrichmentId}": {
      "get": {
        "tags": [
          "Content Generation"
        ],
        "summary": "Get generation by enrichment ID",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "apolloEnrichmentId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-run-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "x-workflow-name",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Content generation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerationSingleResponse"
                }
              }
            }
          },
          "404": {
            "description": "Generation not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/generations/by-lead/{leadId}": {
      "get": {
        "tags": [
          "Content Generation"
        ],
        "summary": "Get generation by lead-service correlation ID",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "leadId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-run-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "x-workflow-name",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Content generation for this lead",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerationSingleResponse"
                }
              }
            }
          },
          "404": {
            "description": "No generation found for this leadId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/stats": {
      "get": {
        "tags": [
          "Stats"
        ],
        "summary": "Get aggregated stats with optional grouping",
        "description": "Filters: campaignId, brandId, orgId, runIds (comma-separated). Without groupBy returns { stats: { emailsGenerated } }. With groupBy returns { groups: [{ key, stats: { emailsGenerated } }] }.",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "campaignId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "brandId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "orgId",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Comma-separated list of run IDs"
            },
            "required": false,
            "description": "Comma-separated list of run IDs",
            "name": "runIds",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "campaignId",
                "model"
              ]
            },
            "required": false,
            "name": "groupBy",
            "in": "query"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-run-id",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Stats (flat or grouped depending on groupBy param)",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/StatsGetFlatResponse"
                    },
                    {
                      "$ref": "#/components/schemas/StatsGetGroupedResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Missing required filter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Stats"
        ],
        "summary": "Get aggregated stats by filters",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-org-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-user-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": true,
            "name": "x-run-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "x-campaign-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "x-brand-id",
            "in": "header"
          },
          {
            "schema": {
              "type": "string"
            },
            "required": false,
            "name": "x-workflow-name",
            "in": "header"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StatsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Aggregated stats",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/stats/by-model": {
      "post": {
        "tags": [
          "Stats"
        ],
        "summary": "Get content generation stats grouped by model (internal)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StatsByModelRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stats grouped by model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsByModelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}